* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 30px;
  text-align: center;
  background: #12a705a8;
  color: white;
}

.kaavioHeader {
  text-align: center;
  background: white;
  color: black;
}

.header h1 {
  font-size: 48px;
}

.kaavioHeader h1 {
  font-size: 48px;
}

/* Navigaatiopalkki */
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Flexbox-rivit ja -sarakkeet */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.row2 {  
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 60%;
  background-color: white;
  padding: 20px;
}

.side {
  flex: 40%;
  background-color: white;
  padding: 20px;
}

.eka {
  flex: 15%;
  background-color: white;
  padding: 20px;
}

.toka {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.kolmas {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.neljas {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.viides {
  flex: 55%;
  background-color: white;
  padding: 20px;
}

.heka {
  flex: 15%;
  background-color: white;
  padding: 20px;
}

.htoka {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.hkolmas {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.hneljas {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.hviides {
  flex: 10%;
  background-color: white;
  padding: 20px;
}

.hkuudes {
  flex: 45%;
  background-color: white;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .row, .navbar {   
    flex-direction: column;
  }
}